*{

  flex-direction: column;
  text-align: center;

}
button{
  max-width: 50%;
  text-align: center;
  color: white;
  background-color: goldenrod ;
}

body {
  background-color : black; 
  font-family : "Open Sans", sans-serif;
  color:gold
}

#pic{
  display: flex;
  justify-self: center;
  max-width: 25%;
  display: block;
}

h1 {
  padding: 40px; 
  text-align: center;
}

h2{
  text-align: center;

}

div.movieSel{
  text-align: center;
}


